
body,html{
    width: 1000px;
    margin: 10px auto;
    color: #fff;
}

div.task{
    margin: 5px auto;
    width: inherit;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background: #5a5a5a;
    border:1px black solid;
}

h3 {
    font-family: 'Open Sans', sans-serif,Monospaced;
    /*padding: 2px;*/
    color: goldenrod;
}

.displayBlock{
    display: block;
}

.inline-block{
    display: inline-block;
}

.clearfix::after{
    clear: both;
    content: "";
    display: table;
}

img{
    margin: 10px;
    display: inline-block;
    width: 220px;
    height: 150px;
}

input:valid {
    border-color: green;
}

/*input:invalid {*/
    /*border-color: red;*/
/*}*/

input:required:valid {
    border-color: green;
}

.field{
    clear: both;
    text-align: right;
    line-height: 25px;
}

label {
    float: left;
    padding-right:10px;
}

.main{
    float: left;
}

