body{
    font-family: Arial;
}

button{
    font-weight: bold;
    text-decoration: solid;
    appearance: none;
    font-size: 18px;
    color: white;
}

.controlBttn{
    display: inline-block;
    padding: 5px 10px;
    border: 0px;
    border-radius: 0;
    text-decoration: solid;
    appearance: none;
    box-shadow: none;
    background-color: red;
}

.closeBttn{
    width: 30px;
    height: 30px;
    padding: 0px 0px 2px 0px;
    position: absolute;
    right: -15px;
    top: -15px;
    border: solid #fff 2px;
    border-radius: 25px;
    background-color: #000;
    box-shadow: 0 0 3px rgb(0,0,0);
}

.closeBttn:hover {
    transform: scale(1.3);
}

.controlBttn:hover {
    background-color: #850000;
}

.invoiceTable{
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-spacing: 0;
}

.totalTable{
    width: 100%;
    border-spacing: 0px;
    text-align: center;
}

.invoiceTable thead{
    text-align: left;
}

.invoiceTable th, tr.item td{
    padding: 15px;
}

tr.item td {
    border-top: solid lightgrey 2px;
    text-align: left;
}

td:first-child{
    color: red;
}

td.totalWithDoscount{
    color: black;
    text-align: right;
}

td.totalWithoutDoscount{
    color: grey;
    font-size: 11pt;
    text-align: right;
}

a{
    margin-top: 20px;
    display: block;
    color: red;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}
