* {
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    width: 90%;
    background: #00b0ff ;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    justify-content: space-around;
    /*align-items: flex-start;*/
    flex-wrap: wrap;
    align-content: space-around;
    color: black;
}

#movieFilter{
    width: 100%;
    padding: 20px;
}

#searchText{
    width: 400px;
    margin: 5px 0;
    line-height: 25px;
    font-size: 20px;
}

#search{
width: 100px;
margin-bottom: 20px;
box-sizing: border-box;
}

.btnWrapper{
text-align: center;
}

.style-settings{
    position: absolute;
    left: 10px;
    text-align: center;
    display: inline-block;
}

.hidden{
    display: none;
}

.btn{
padding: 5px 5px;
margin: 10px 5px;
line-height: 20px;
box-sizing: border-box;
border: solid black 1px;
border-radius: 5px;
box-shadow: 0 0 3px rgba(0,0,0,0.5);
background-color: #01579b;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif, Monospaced;
font-weight: bold;
color: white;
}

.btn:hover {
    background-color: #40c4ff;
}

.movieCard{
    width: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
    flex-basis: 23rem;
    padding: 20px;
    background-color: #40c4ff;
    min-width: 250px;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
}

.cardRate{
    width: 35px;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    line-height: 35px;
    height: 35px;
    background-color: gold;
    font-weight: bold;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.poster{
    height: 180px;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    object-fit: cover;
}

.cardFooter{
    padding-top: 10px;
}

.styleBtn{
    padding: 3px;
}
